







.navbar-nav{
    display: flex;
   
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.nav-link{
   float: right;
   margin-right: 10px;
   color: white;
    text-decoration: none;
}
.navbar-toggler{
    background-color: #30afc3;
}




.logo{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    padding: 0;
}
.container1{
    display: grid;
    grid-template-columns: (100px, 100px, 100px);
    grid-auto-rows: 200px;
   
    height: 90vh;
    width: 100%;
    background-color: #3c3d3d;
    margin-top: 0;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -20px;
  

}
.box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.text1{
    
    color: #f4f2f2;
    text-align: center;
   
    word-spacing: 5px;
    font-size: 70px;

}
.text2{
        font-size: 25px;
        color: #f4f2f2;
        text-align: center;
    
      margin-top: 20px;
      padding-bottom: 40px;
       margin: auto;
        
        word-spacing: 5px;
}
.img{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 20px;
    
}
.react{
    width:12%;
    margin-left: 90px;
    margin-top: 20px;
}
.vite{
    width: 10%;
    margin-left: 20px;
    margin-top: 20px;
}
.javascript{
    width: 12%;
    margin-left: 20px;
    margin-top: 20px;
}
.python{
    width: 10%;
    margin-left: 20px;
    margin-top: 20px;
}
.fastapi{
    width: 10%;
    margin-left: 20px;
    margin-top: 20px;
}
.supabase{
    width: 10%;
    margin-left: 20px;
    margin-top: 20px;
}
.footer{
    background-color: #2c2d2d;
    color: #f4f2f2;
    text-align: center;
   
   
}
.hamburger{
    display: block;
    width: 36px;
    height: 35px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin-left: 50%;
    text-decoration: none;
    margin-top: 10px;
    
}
@media (min-width: 600px) {
    .nav-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }
    
}
.hamburger .bar, .hamburger:before, .hamburger:after{
    content: '';
    display: block;
    width: 36px;
    height: 5px;
    background-color: #dad9d9;
    margin: 6px auto;
    transition: 0.4s;
 
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #30afc3;
}
.hamburger.is-active .bar{
    opacity: 0;
   
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: #30afc3;

}
.nav-mobile{
    position: fixed;
    display: block;
    z-index: 98;
    top: 0;
    left: 100%;
    width: 50%;
  background-color: #388585;
    transition: 0.4s;
    
   
    margin-top: 75px;



}
.nav-mobile a{
    display: block;
    text-align: center;
    padding: 12px 16px;
   
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
    

}
.nav-mobile.is-active{
    left: 50%;
    transition: 0.5s;
}
.contact{
    color: white;
    text-align: center;
    background-color: #717171;
    margin-top: 8%;
    width: 50%;
    margin-left: 25%;
    height:440px;
}
.input{
    width: 60%;
    margin: auto;
    margin-top: 20px;

    border-radius: 5px;
    border: 1px solid #dad9d9;
}
.message{
    width: 60%;
    margin: auto;
    height: 100px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #dad9d9;
}
.button{
    width: 30%;
    margin: 20px;
    margin-top: 20px;
    background-color: #ee915b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;

}
.button:hover{
    background-color: #a16745;
    transition: 0.5s;
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    height: 100vh;
    background-color: #292a2a;
    grid-gap: 40px;
}
.project1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
   
    margin: 20px;
}
.project2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
    
    margin: 20px;
}
.project3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
   
    margin: 20px;
}
.project4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
   
    margin: 20px;
}
.project5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;

    margin: 20px;
}
.project6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;

    margin: 20px;
}
.img2{
   
  
    
    width: 100%;
}
.img2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.title{
    color: #e2dfdf;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.text{
    color: #e2dfdf;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: 300px;
    height: fit-content;
    background-color: #292a2a;
    grid-gap: 40px;
}
.pet1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
   background-color: #222121;
    margin: 20px;
    text-align: center;
    border: 2px solid white;

}
.pet2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;

    margin: 20px;
}
.pet3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 20px;
 
    margin: 20px;
}
.pet4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;

    margin: 20px;
}
.pet5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 20px;
   
    margin: 20px;
}
.imgpet{
    width: 100%;
    height: 100%;
}
.imgpet2{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    margin-left: 10%;
}
.button1{
    display: inline-block;
    width: 150px;
    margin: 20px;
    background-color: #ee915b;
}
.container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    height: fit-content;
    background-color: #292a2a;
    grid-gap: 40px;
}
.movie1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
   background-color: #222121;
    margin: 20px;
    text-align: center;
    border: 2px solid white;
}
.movie2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
   
    margin: 20px;
}
.movie4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
   
    margin: 20px;
}
.text2{
    color: #e2dfdf;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10%;
}
.img4{
    width: 50%;

}
.imgcat{
    width: 50%;
}
.container5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    height: fit-content;
    background-color: #292a2a;
    grid-gap: 40px;
    padding-bottom: 40px;
}
.kitty{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
   background-color: #222121;
    margin: 20px;
    margin-bottom: 100px;
    text-align: center;
    border: 2px solid white;

}
.kitty1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
   
    margin: 20px;
}
.kitty2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
   
    margin: 20px;
}
.container7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    height: fit-content;
    background-color: #292a2a;
    padding-bottom: 40px;
    grid-gap: 40px;
}
.phonebook{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
   background-color: #222121;
    margin: 20px;
    
    text-align: center;
    border: 2px solid white;
}
.phonebook1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
 
    margin: 20px;
}
.phonebook2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;

    margin: 20px;
}
.phonebook4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 20px;
  
    margin: 20px;
}
.imgphone{
    width: 80%;
}
.container8{
   
    
    height: fit-content;
    background-color: #9fa1a1;
    padding-bottom: 40px;
    
}
.about{
 
    text-align: center;
    font-size: 25px;
    width: 60%;
    border: 2px solid white;
    margin: auto;
    padding:30px;
    word-spacing: 5px;
}
.under_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    height: fit-content;
    background-color: #3a3b3b;
  
}
.under_container1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #9fa1a1;
   
    text-align: center;
}
.under_container2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #9fa1a1;
    border: 2px solid white;
    text-align: center;
}
.title2{
   
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.textp{
    margin-top: 30px;
}
.link{
    color: #f4994b;
    text-decoration: none;
}
.link2{
    color: #315962;
    text-decoration: none;
}
.link2:hover{
    color: #f4994b;
}
.title3{
    text-align: center;
    font-size: 30px;
    
}



@media (max-width: 600px) {

    .container1{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
       
     height: 100vh;
       
       padding-bottom: 20px;
        margin-top: 0;
    }
    .box1{
        margin-top: 60px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-bottom: 20px;
      
    
    }
    .box2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        
    }
    .img{
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        margin: 20px;
        margin-left: 25%;
        width: 50%;
    }
    .text1{
        
        color: #f4f2f2;
        text-align: center;
       
       
        font-size: 50px;
    
    }
    .text2{
            font-size: 20px;
            color: #f4f2f2;
            text-align: center;
          margin: auto;
          
            padding: 5px;
            width: 300px;
            word-spacing: 5px;
            
    }
    .react{
     width: 10%;
        margin-left: 54px;
        margin-top: 20px;
       
    }
    .vite{
        width: 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .javascript{
        width: 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .python{
        width: 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .fastapi{
        width: 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .supabase{
        width: 10%;
        margin-left: 10px;
        margin-top: 20px;
    }
       .footer{
        background-color: #2c2d2d;
        color: #f4f2f2;
        text-align: center;
       }
       .logo{
        width: 50px;
        height: 50px;
       
        padding: 0;
       }
       .nav-text{
        display:none;
       }
       .contact{
        width: 80%;
        margin: auto;
        margin-top: 60px;
       }
       .projects-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        height: fit-content;
        background-color: #292a2a;
        grid-gap: 5px;
       }
       .project1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 40px;
       
        margin: 20px;
    }
        .project2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 20px;
            
            margin: 20px;
        }
        .project3{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: 20px;
           
            margin: 20px;
        }
        .project4{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            margin-top: 20px;
           
            margin: 20px;
        }
        .project5{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 20px;
    
            margin: 20px;
        }
        .project6{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: 7;
            margin-top: 20px;
    
            margin: 20px;
        }
        .container3{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 200px;
            height: fit-content;
            background-color: #292a2a;
        
        }
        .pet1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 5;
       
           background-color: #222121;
            margin: 20px;
            text-align: center;
            border: 2px solid white;
        
        }
        .pet2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 20px;
        
            margin: 20px;
        }
        .pet3{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: 7;
            margin-top: 20px;
           
            margin: 20px;
        }
        .pet4{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 20px;
            
            margin: 20px;
        }
        .pet5{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 8;
            grid-row-end: 9;
            margin-top: 20px;
            
            margin: 20px;
        }
        .text{
            color: #e2dfdf;
            text-align: center;
            font-size: 22px;
            margin-top: 20px;
            margin: 5px;
        }
        .container4{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 200px;
            height: fit-content;
            background-color: #292a2a;
        
        }
        .movie1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
           background-color: #222121;
           
            text-align: center;
            border: 2px solid white;
        }
        .movie2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            margin-top: 20px;
           
            margin: 20px;
        }
        .movie4{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 20px;
           
            margin: 20px;
        }
        .container5{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 400px;
            height: fit-content;
            background-color: #292a2a;
            grid-gap: 40px;
        }
        .kitty{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-top: 20px;
           background-color: #222121;
            align-items: center;    
           
            margin: 20px;
            margin-bottom: 200px;
            text-align: center;
            border: 2px solid white;
        }
        .kitty1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
          
           
        
        }
        .kitty2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            
     
           
      

        }
        .imgcat{
            width: 100%;
        }
       .container7{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        height: fit-content;
        background-color: #292a2a;
        grid-gap: 40px;
        
    
    }
        .phonebook{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-top: 20px;
           background-color: #222121;
            margin: 20px;
            margin-bottom: -50px;
            text-align: center;
            border: 2px solid white;
        }
        .phonebook1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
       margin-top: -200px;
           
          
      
        }
        .phonebook2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            margin-top: -200px;
       
            
        }
        .phonebook4{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
           
          
           margin-top: -200px;
        }
        .imgphone{
            width: 100%;
        }
        .about{
            
            text-align: center;
            font-size: 21px;
            width: 90%;
            border: 2px solid white;
            margin: auto;
            padding:30px;
            word-spacing: 5px;
        }
        .under_container{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 200px;
            height: fit-content;
            padding-bottom: 20px;
          
        }
        .under_container1{
            /* grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
           
            background-color: #9fa1a1;
          
            text-align: center; */
            hidden: true;
        }
        .under_container2{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            background-color: #9fa1a1;
            border: 2px solid white;
            text-align: center;
           
        }
        .title2{
           
            text-align: center;
            font-size: 30px;
          margin-top: 0;
        }

    

 
}